{% extends "base.html" %}

{% block title %}
Все посты
{% endblock %}

{% block content %}
{% if user_id and posts %}
<h1>{{headline}} {{posts[0].owner.username}}</h1>
{% else %}
<h1>{{headline}}</h1>
{% endif %}
<div>
    {% for post in posts %}

    <div class="card text-center border-primary mb-3" style="max-width: 24rem;" style="width: 18rem;">
        <div class="card-header">
            <div class="row"><div class="col"> <b><a href="/pages/posts/user/{{post.owner.id}}" >{{post.owner.username}}</a></b></div>
                <div class="form-text col">{{post.created_at.strftime('%d-%m-%Y %H:%M')}}</div>
                {% if post.owner not in my_user.following and post.owner != user %}
                <button id="button-follow" type="button" class="btn btn-light" onclick="loginFunction({{post.owner.id}})">Подписаться</button>
                {% else %}
                <button id="button-follow-disabled" type="button" class="btn btn-light" disabled>Подписаны</button>
                {% endif %}

            </div>
  </div>
        {% if post.files %}
  <img src='/media/postfiles/{{post.id}}/{{post.files[0].name}}' class="card-img-top" alt="Some picture">
<!--  <img src="{{ url_for('media', path='/postfiles/{{post.id}}/{{post.files[0].name') }}" class="card-img-top" alt="Some picture">-->
        {% endif %}
  <div class="card-body">
    <p class="card-text">{{post.text | truncate(150)}}</p>
  </div>

        <div class="list-group">
    <a href="/pages/posts/{{post.id}}" class="list-group-item list-group-item-action">Комментарии <span class="badge rounded-pill bg-danger">{{post.comments | length}}</span></a>
        </div>

</div>
    {% else %}
    <h5>Нет постов</h5>
    {% endfor %}
</div>

{% endblock %}

{% block script %}

<script>
        async function loginFunction(user_id) {
    event.preventDefault();  // Предотвращаем стандартное действие формы

    // Получаем форму и собираем данные из неё
    try {
        const response = await fetch('/users/'+user_id+'/follow', {
            method: 'PUT',

            headers:{
                    'Content-Type': 'application/json'
                    },
            body: JSON.stringify({"user_id": user_id})
            // body: JSON.stringify({"username": username, "password": password, "grant_type": "password", "scope": "", "client_id": "string", "client_secret": "string"})
        });

        // Проверяем успешность ответа
        if (!response.ok) {
            // Получаем данные об ошибке
            const errorData = await response.json();
            displayErrors(errorData);  // Отображаем ошибки
            return;  // Прерываем выполнение функции
        }
      alert("Вы подписаны");

    } catch (error) {
        console.error('Ошибка:', error);
        alert('Произошла ошибка. Пожалуйста, попробуйте снова.');
    }
}

function displayErrors(errorData) {
    let message = 'Произошла ошибка';

    if (errorData && errorData.detail) {
        if (Array.isArray(errorData.detail)) {
            // Обработка массива ошибок
            message = errorData.detail.map(error => {
                if (error.type === 'string_too_short') {
                    return `Поле "${error.loc[1]}" должно содержать минимум ${error.ctx.min_length} символов.`;
                }
                return error.msg || 'Произошла ошибка';
            }).join('\n');
        } else {
            // Обработка одиночной ошибки
            message = errorData.detail || 'Произошла ошибка';
        }
    }

    // Отображение сообщения об ошибке
    alert(message);
}

    </script>

{% endblock %}
